	<footer class="footer">
		<div class="container">
			<nav class="footer__nav">
				<ul class="footer__list">
					<li><a href="/about.html" class="footer__link">会社情報</a></li>
					<li><a href="/service.html" class="footer__link">オビラボ管理職道場</a></li>
					<li><a href="/#contact" class="footer__link">お問い合わせ</a></li>
					<li><a href="/privacy.html" class="footer__link">プライバシーポリシー</a></li>
				</ul>
			</nav>
			<p>© Obilabo Co., Ltd.</p>
		</div>
	</footer>

</div>
<script src="/assets/js/common.js"></script>
</body>
</html>
