@use "../mixin" as *;

.contact {
  margin-top: 240px;
  padding-bottom: 80px;
  h4 {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    @include sm {
      font-size: 20px;
    }
  }
}