@use "../mixin" as *;

.header {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 808px;
		padding: 40px 20px;
		margin-left: auto;
		margin-right: auto;
	}

	&__logo {
		width: 64px;
	}

	&__list {
		display: flex;

		@include sm {
			display: none;
		}
	}

	&__sp-menu {
		@include sm_up {
			display: none;
		}
	}
}
