@use "../mixin" as *;

.privacy {
  padding-bottom: 80px;
  @include sm {
    padding-bottom: 40px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    @include sm {
      font-size: 24px;
    }
  }
  p {
    letter-spacing: 0.2em;
    padding: 40px;
    @include sm {
      padding: 40px 0;
    }
  }
}