@use "../mixin" as *;

// ハンバーガーメニューのボタン
.sp-menu {
	position: fixed;
	z-index: 2000;
	top: 20px;
	right: 20px;
	width: 60px;
	height: 60px;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: inherit;
	line-height: 1;
	outline: none;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
}

%sp-menu__bar {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 1px;
	background-color: $color-main1;
	transition: all 0.3s;
}

.sp-menu__bar-1 {
	@extend %sp-menu__bar;
	display: block;
	top: 4px;
	transform-origin: left;

	.is-drawer-active & {
		transform: translateY(-8px) rotate(45deg) scaleX(1.4142);
	}
}

.sp-menu__bar-2 {
	@extend %sp-menu__bar;
	display: block;
	top: 19px;

	.is-drawer-active & {
		transform: scaleX(0);
	}
}

.sp-menu__bar-3 {
	@extend %sp-menu__bar;
	display: block;
	top: 34px;
	transform-origin: left;

	.is-drawer-active & {
		transform: translateY(20px) rotate(-45deg) scaleX(1.4142);
	}
}

