@use "../mixin" as *;

.training {
  padding-top: 80px;
  background-color: $color-main2;

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @include sm {
      flex-direction: column;
      gap: 0;
    }
  }

  &__card {
    width: 50%;
    max-width: 480px;
    background: linear-gradient(to right, $color-main2, $color-main4);
    box-shadow: 0px 0px 30px $color-shadow1;
    padding: 32px;
    border-radius: 20px;
    margin-top: 60px;
    @include sm {
      width: 100%;
      max-width: inherit;
    }
    h3 {
      font-size: 16px;
      margin-top: -20px;
    }
    p {
      margin-top: 12px;
      font-size: 14px;
    }
  }

  &__number {
    margin-top: -40px;
    span {
      display: inline-block;
      color: $white;
      @include font_change;
      font-size: 72px;
      font-weight: bold;
      font-style: italic;
      margin-top: -60px;
    }
  }
}