<%- include('common/_header', {
	page: 'about',
	title: '株式会社オビラボ',
	description: '経営者とともに考える⼈材成⻑⽀援カンパニー',
	noindex: false
}); %>

<main class="about">
  <div class="container">
    <h1 class="title">About Us</h1>
  </div>

  <!-- mission -->
  <article class="ab-one">
    <div class="ab-one__img">
      <img class="u-hidden-sp" src="/assets/img/about1.webp" alt="">
      <img class="u-hidden-pc" src="/assets/img/about1-sp.webp" alt="">
    </div>
    <div class="container">
      <div class="ab-one__text">
        <h2>MISSION</h2>
        <p>成⻑し続ける⼈々に、<br>
          多様な専⾨家集団の英知を<br>
          最適な形で届けることにより、<br>
          ⽬指すステージで華やかに活躍する<br>
          成功者になっていただくことを使命とします。</p>
      </div>
    </div>
  </article>
  <!-- vision -->
  <article class="ab-two">
    <div class="ab-two__img">
      <img class="u-hidden-sp" src="/assets/img/about2.webp" alt="">
      <img class="u-hidden-pc" src="/assets/img/about2-sp.webp" alt="">
    </div>
    <div class="container">
      <div class="ab-two__text">
        <h2>VISION</h2>
        <p>意欲のある⼈々が、⾃信を持ち、<br>
          活き活きと活躍する<br>
          社会を実現します。</p>
      </div>
    </div>
  </article>
  <div class="container">
    <article class="found">
      <h2>FOUNDER</h2>
      <div class="found__box">
        <div class="found__text">
          <p>⽇々、事業の拡⼤と継続に尽⼒なさっている経営者の皆さま。<br class="u-hidden-sp">
            皆さまの⽇々の活動と努⼒に、⼼から敬意を表します。<br>
            私⾃⾝の経験から、組織をまとめるときの重要なポイントは、<br class="u-hidden-sp">
            ⼀緒に組織運営をしてくれる優れたパートナー（仲間）の<br class="u-hidden-sp">
            存在です。パートナーは、組織運営の成功に⽋かせない要素です。<br>
            彼ら（彼⼥ら）は良き相談相⼿であり、<br class="u-hidden-sp">
            理解者であり、サポーターです。<br>
            そして、経営者の⽅々にとっても、良きパートナーを<br class="u-hidden-sp">
            作ることは会社経営を⾏う上でとても重要です。<br>
            株式会社オビラボは、経営者の⽅々と共に、組織の成⻑に<br class="u-hidden-sp">不可⽋な⼈材を育てる役割を担います。<br>
            私たちは、皆さまがステージアップを実現するための<br class="u-hidden-sp">
            パートナーでありたいと考えています。<br>
            株式会社オビラボは、経験と情熱をもって、皆さまの<br class="u-hidden-sp">
            ビジョンに共鳴し、成果を追求します。<br>
            私たちと共に、より⾼みを⽬指しましょう。<br>
            どうぞよろしくお願いいたします。</p>
          <div class="found__name">            
            <p>株式会社オビラボ 代表<br>
              ⾼橋寛 Hiroshi Takahashi</p>
          </div>
        </div>
        <div class="found__img">
          <img src="/assets/img/founder1.webp" alt="">
        </div>
      </div>
      <div class="found__sign">
        <img src="/assets/img/founder2.webp" alt="">
      </div>
    </article>
  </div>
</main>

<%- include('common/_footer'); %>