<%- include('common/_header', {
	page: 'about',
	title: '株式会社オビラボ',
	description: '経営者とともに考える⼈材成⻑⽀援カンパニー',
	noindex: false
}); %>

<main class="about">
  <div class="container">
    <h1 class="title">About Us</h1>
  </div>

  <!-- mission -->
  <article class="ab-one">
    <div class="ab-one__img">
      <img class="u-hidden-sp" src="/assets/img/about1.webp" alt="">
      <img class="u-hidden-pc" src="/assets/img/about1-sp.webp" alt="">
    </div>
    <div class="container">
      <div class="ab-one__text">
        <h2>MISSION</h2>
        <p>成⻑し続ける⼈々に、<br>
          多様な専⾨家集団の英知を<br>
          最適な形で届けることにより、<br>
          ⽬指すステージで華やかに活躍する<br>
          成功者になっていただくことを使命とします。</p>
      </div>
    </div>
  </article>
</main>

<%- include('common/_footer'); %>