<%- include('common/_header', {
	page: 'home',
	title: '株式会社オビラボ',
	description: '経営者とともに考える⼈材成⻑⽀援カンパニー',
	noindex: false
}); %>

<main class="home">
	<!-- top -->
	<div class="container">
		<section class="top">
			<div class="top__img">
				<div class="u-hidden-sp">
					<img src="/assets/img/top.webp" alt="">
				</div>
				<div class="u-hidden-pc">
					<img src="/assets/img/top-sp.webp" alt="">
				</div>
			</div>
			<h2>
				経営者とともに考える、<br>
				⼈材成⻑⽀援カンパニー
			</h2>
			<p>
				Think together
				with manager,<br>
				Human resources growth<br>
				support company.<br>
			</p>
			<div class="top__scroll">
				<img src="/assets/img/scroll.svg" alt="">
			</div>
		</section>
	</div>
	<!-- aboutus -->
	<article class="top-ab">
		<div class="top-ab__text">
			<h3>About Us</h3>
			<div class="top-ab__imgsp u-hidden-pc">
				<img src="/assets/img/main1-sp.webp" alt="">
			</div>
			<h4>オビラボは、<br>
				あなたの会社を⽀える⼈材を<br>
				共に育てる企業です。</h4>
				<p>
					社員は企業の宝です。<br>
					社員が活き活きと活躍している会社には、<br>
					社⻑を⽀える優れた経営幹部、管理職がいます。<br>
					優れた経営幹部、管理職の育成に、<br>
					オビラボはお役に⽴ちます。
				</p>
		</div>
		<div class="top-ab__img u-hidden-sp">
			<img src="/assets/img/main1.webp" alt="">
		</div>

	</article>
	<!-- service -->
	<section class="top-se">

	</section>
	<!-- contact -->
	<section class="contact">

	</section>
</main>

<%- include('common/_footer'); %>
