<%- include('common/_header', {
	page: 'home',
	title: '株式会社オビラボ',
	description: '経営者とともに考える⼈材成⻑⽀援カンパニー',
	noindex: false
}); %>

<main class="home">
	<div class="container">
		<section class="top">
			<div class="top__img">
				<div class="u-hidden-sp">
					<img src="/assets/img/top.webp" alt="">
				</div>
				<div class="u-hidden-pc">
					<img src="/assets/img/top-sp.webp" alt="">
				</div>
			</div>
			<h2>
				経営者とともに考える、<br>
				⼈材成⻑⽀援カンパニー
			</h2>
			<p>
				Think together
				with manager,<br>
				Human resources growth<br>
				support company.<br>
			</p>
			<div class="top__scroll">
				<img src="/assets/img/scroll.svg" alt="">
			</div>
		</section>
	</div>
</main>

<%- include('common/_footer'); %>
