<%- include('common/_header', {
	page: 'home',
	title: '株式会社オビラボ',
	description: '経営者とともに考える⼈材成⻑⽀援カンパニー',
	noindex: false
}); %>

<main class="home">
	<!-- top -->
	<div class="container">
		<section class="top">
			<div class="top__img">
				<div class="u-hidden-sp">
					<img src="/assets/img/top.webp" alt="">
				</div>
				<div class="u-hidden-pc">
					<img src="/assets/img/top-sp.webp" alt="">
				</div>
			</div>
			<h2>
				経営者とともに考える、<br>
				⼈材成⻑⽀援カンパニー
			</h2>
			<p>
				Think together
				with manager,<br>
				Human resources growth<br>
				support company.<br>
			</p>
			<div class="top__scroll">
				<img src="/assets/img/scroll.svg" alt="">
			</div>
		</section>
	</div>
	<!-- aboutus -->
	<article class="top-ab">
		<div class="top-ab__text">
			<h3>About Us</h3>
			<div class="top-ab__imgsp u-hidden-pc">
				<img src="/assets/img/main1-sp.webp" alt="">
			</div>
			<h4>オビラボは、<br>
				あなたの会社を⽀える⼈材を<br>
				共に育てる企業です。</h4>
				<p>
					社員は企業の宝です。<br>
					社員が活き活きと活躍している会社には、<br>
					社⻑を⽀える優れた経営幹部、管理職がいます。<br>
					優れた経営幹部、管理職の育成に、<br>
					オビラボはお役に⽴ちます。
				</p>
				<div class="top-ab__btn">
					<a href="about.html" class="btn">会社情報</a>
				</div>
		</div>
		<div class="top-ab__img u-hidden-sp">
			<img src="/assets/img/main1.webp" alt="">
		</div>

	</article>
	<!-- service -->
	<article class="top-se">
		<div class="container">
			<div class="top-se__box">
				<h3>Service</h3>
				<div class="top-se__text">
					<h4>経営者が期待する<br>
						成⻑を実現する<br>
						1年間のオンラインプログラム</h4>
					<p>オビラボ管理職道場は、管理職づくりに特化した<br>
							オンラインの研修プログラム。<br>
							経営者の期待を直接受講者に伝え、<br>
							⽬指す管理職像を明確にし、成⻑を促します。</p>
					<div class="top-se__imgsp u-hidden-pc">
						<img src="/assets/img/main2-sp.webp" alt="">
					</div>
					<div class="top-se__btn">
						<a href="service.html" class="btn">オビラボ管理職道場</a>
					</div>
				</div>
			</div>
		</div>
		<div class="top-se__img u-hidden-sp">
			<img src="/assets/img/main2.webp" alt="">
		</div>
	</article>
	<!-- contact -->
	<section class="contact">
		<div class="container">
			<h3>Contact</h3>
			<h4 id="contact">お問い合わせ</h4>
			<div class="contact__form">
				<form action="">
					<div class="contact__item">
						<label for="">会社名</label>
						<input type="text" placeholder="入力してください">
					</div>
					<div class="contact__item">
						<label for="">お名前</label>
						<input type="text" placeholder="入力してください">
					</div>
					<div class="contact__item">
						<label for="">メールアドレス</label>
						<input type="email"  placeholder="入力してください">
					</div>
					<div class="contact__item">
						<label for="">お問い合わせ種類</label>
						<select name="" id="">
							<option value="" hidden>選択してください</option>
							<option value="">オビラボについて</option>
							<option value="">オビラボ管理職道場について</option>
							<option value="">研修・セミナーについて</option>
							<option value="">その他</option>
						</select>
					</div>
					<div class="contact__item">
						<label for="">お問い合わせ内容詳細</label>
						<textarea name="" id="" cols="30" rows="10" placeholder="入力してください"></textarea>
					</div>
					<div class="contact__privacy">
						<input type="checkbox"><a href="/privacy.html">プライバシーポリシー</a>に同意
					</div>
					<div class="contact__btn">
						<input type="btn" class="btn" value="確認する">
					</div>
				</form>
			</div>
		</div>
	</section>
</main>

<%- include('common/_footer'); %>
