<%- include('common/_header', {
	page: 'service',
	title: '株式会社オビラボ',
	description: '経営者とともに考える⼈材成⻑⽀援カンパニー',
	noindex: false
}); %>

<main class="service">
  <div class="container">
    <h1 class="title">
      Service
    </h1>
    <div class="se-top">
      <h2>オビラボ管理職道場</h2>
      <p>経営者が期待する成長を実現する<span class="u-inline-block">
        1年間のオンラインプログラム
      </span></p>
    </div>
    <h2 class="service__title">
      特徴
    </h2>
    <article class="se-fea">
      <!-- 1 -->
      <section class="se-fea__item">
        <div class="se-fea__text">
          <div class="se-fea__sub">
            <span>01</span>
            <h3>経営者の思いや視点を伝え、<br>
              成⻑を加速</h3>
          </div>
          <p>
            オビラボ管理職道場は、経営者の皆さまにもご参加いただく研修です。経営者が考える期待や成⻑⽬標を受講者に直接伝えることで、⾼いモチベーション形成を図ります。また定期的に⾏う経営者、受講者、運営の3者⾯談や、能⼒診断チェックを通じて、成⻑を加速します。
          </p>
        </div>
        <div class="se-fea__img -one">
          <img src="/assets/img/feature1.svg" alt="">
        </div>
      </section>
      <!-- 2 -->
      <section class="se-fea__item -even">
        <div class="se-fea__text">
          <div class="se-fea__sub">
            <span>02</span>
            <h3>「習慣化」で、<br>
              継続と定着を実現</h3>
          </div>
          <p>
            1年間のプログラムの中で、より⾼い効果を実現するため「習慣化」の法則を取り⼊れます。個人のライフスタイルに合わせてオンデマンド教材を活用することで、⽇々の⽣活の中で⾃然に学びを組み込み、無理なく知識が定着できる環境をつくることができます。
          </p>
        </div>
        <div class="se-fea__img -two">
          <img src="/assets/img/feature2.svg" alt="">
        </div>
      </section>
      <!-- 3 -->
      <section class="se-fea__item">
        <div class="se-fea__text">
          <div class="se-fea__sub">
            <span>03</span>
            <h3>反転学習で<br>
              理解が深まる</h3>
          </div>
          <p>
            反転学習とは「授業で学習し、⾃宅で復習する」という従来の学習の流れを反転させ、「⾃宅で予習し、授業でさらに学習する」という流れにするもの。各⾃のペースで知識の習得、定着ができ、授業では学んだことをアウトプットすることで深い理解を促します。
          </p>
        </div>
        <div class="se-fea__img -three">
          <img src="/assets/img/feature3.svg" alt="">
        </div>
      </section>
      <!-- 4 -->
      <section class="se-fea__item -even">
        <div class="se-fea__text">
          <div class="se-fea__sub">
            <span>04</span>
            <h3>⼈間⼒を築き、<br>
              その上で知識を習得</h3>
          </div>
          <p>
            管理職に必ず求められる能⼒が「⼈間⼒（マインド）」です。オビラボ管理職道場では、この領域を特に重視し、まず⼈間⼒（マインド）の形成からプログラムが始まります。部下に頼りにされ、会社を成⻑させる原動⼒をここで作ります。
          </p>
        </div>
        <div class="se-fea__img -four">
          <img src="/assets/img/feature4.svg" alt="">
        </div>
      </section>
      <!-- 5 -->
      <section class="se-fea__item">
        <div class="se-fea__text">
          <div class="se-fea__sub">
            <span>05</span>
            <h3>必要な研修を<br>
              バランス良く</h3>
          </div>
          <p>
            ⼈間⼒（マインド）、知識、スキルの3分野を満遍なくワンパッケージで配信。講師はそれぞれの分野で活躍し、独⾃の学びの場を提供している現役専⾨家が務めます。この研修を受けるだけで、実践的な管理職育成が可能です。
          </p>
        </div>
        <div class="se-fea__img -five">
          <img src="/assets/img/feature5.svg" alt="">
        </div>
      </section>
    </article>

  </div>
</main>
<%- include('common/_footer'); %>