@charset "UTF-8";
/* ベース定義 */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, ul, ol {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Noto Sans JP", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, sans-serif;
  line-height: 1.75;
  color: #2E3190;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

a, button {
  outline: none;
}

ul {
  list-style: none;
}

/* Utilities */
.u-left {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right {
  text-align: right !important;
}

.u-font-bold {
  font-weight: bold !important;
}

.u-font-normal {
  font-weight: normal !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

@media screen and (max-width: 767px) {
  .u-block-sp {
    display: block !important;
  }
  .u-inline-block-sp {
    display: inline-block !important;
  }
  .u-inline-sp {
    display: inline !important;
  }
}
@media screen and (min-width: 768px), print {
  .u-block-pc {
    display: block !important;
  }
  .u-inline-block-pc {
    display: inline-block !important;
  }
  .u-inline-pc {
    display: inline !important;
  }
}
.u-nowrap {
  white-space: nowrap !important;
}

@media screen and (max-width: 767px) {
  .u-hidden-sp {
    display: none !important;
  }
}
@media screen and (min-width: 768px), print {
  .u-hidden-pc {
    display: none !important;
  }
}
@media screen and (min-width: 1080px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1079px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: 10px;
  background-color: #999;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.drawer {
  position: fixed;
  z-index: 1500;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.5s;
}
@media screen and (max-width: 767px) {
  .is-drawer-active .drawer {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}
.drawer__list {
  margin-top: 100px;
}
.drawer__link {
  display: inline-block;
  padding: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #2E3190;
  border-bottom: 1px solid #ffffff;
  background-color: #CBEBF6;
}

.drawer__shade {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
}
@media screen and (max-width: 767px) {
  .is-drawer-active .drawer__shade {
    opacity: 1;
    visibility: visible;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 20px 20px;
  }
}
.header__logo {
  width: 64px;
  flex: none;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 36px;
  }
}
.header__nav {
  width: 80%;
  margin-left: 20%;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}
.header__link {
  color: #2E3190;
  text-decoration: none;
}
@media screen and (min-width: 768px), print {
  .header__sp-menu {
    display: none;
  }
}

.home {
  overflow-x: hidden;
}
.home h3 {
  font-size: 20px;
  border-left: 6px solid #CBEBF6;
  -o-border-image: linear-gradient(to top, #9EFFA8 0%, #67A9FF 100%);
     border-image: linear-gradient(to top, #9EFFA8 0%, #67A9FF 100%);
  border-image-slice: 1;
  font-weight: bold;
  padding-left: 24px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.sp-menu {
  position: fixed;
  z-index: 2000;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  line-height: 1;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.sp-menu__bar-3, .sp-menu__bar-2, .sp-menu__bar-1 {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: #2E3190;
  transition: all 0.3s;
}

.sp-menu__bar-1 {
  display: block;
  top: 4px;
  transform-origin: left;
}
.is-drawer-active .sp-menu__bar-1 {
  transform: translateY(-8px) rotate(45deg) scaleX(1.4142);
}

.sp-menu__bar-2 {
  display: block;
  top: 19px;
}
.is-drawer-active .sp-menu__bar-2 {
  transform: scaleX(0);
}

.sp-menu__bar-3 {
  display: block;
  top: 34px;
  transform-origin: left;
}
.is-drawer-active .sp-menu__bar-3 {
  transform: translateY(20px) rotate(-45deg) scaleX(1.4142);
}

.top-ab {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .top-ab {
    display: inherit;
  }
}
.top-ab__text {
  margin-top: 80px;
  flex: none;
}
@media screen and (min-width: 1080px) {
  .top-ab__text {
    margin-left: calc(50vw - 500px);
  }
}
@media screen and (max-width: 1079px) {
  .top-ab__text {
    margin-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .top-ab__text {
    margin-left: 20px;
  }
}
.top-ab__text h4 {
  margin-top: 40px;
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .top-ab__text h4 {
    font-size: 24px;
    margin-top: -20px;
  }
}
.top-ab__text p {
  margin-top: 40px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .top-ab__text p {
    font-size: 14px;
    margin-top: 20px;
  }
}
.top-ab__imgsp {
  width: 140%;
  margin-top: -80px;
}
.top-ab__img {
  width: calc(60vw + 400px);
  overflow-y: hidden;
  margin-left: -200px;
  margin-right: -300px;
  flex: none;
  text-align: right;
  position: relative;
  z-index: -1;
}
.top-ab__img img {
  width: 100%;
  max-height: 860px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.top {
  position: relative;
}
@media screen and (max-width: 767px) {
  .top__img {
    width: 140%;
    margin-right: -20px;
    margin-left: calc(-40% + 20px);
  }
}
@media screen and (max-width: 767px) {
  .top__img img {
    width: 100%;
  }
}
.top h2 {
  position: absolute;
  top: 30%;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .top h2 {
    position: inherit;
  }
}
.top p {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 10px;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@media screen and (max-width: 767px) {
  .top p {
    font-size: 2vw;
    bottom: inherit;
    top: 30%;
    right: 0px;
  }
}
.top__scroll {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 10px;
}
@media screen and (max-width: 767px) {
  .top__scroll {
    position: inherit;
    margin-left: auto;
    margin-top: -48px;
  }
}