$pc_width: 1000px;
$pc_padding: 40px;
$sp_padding: 20px;
$break_sm: 768px;
$break_lg: $pc_width + ($pc_padding * 2);

// レスポンシブ メディアクエリ
@mixin sm {
	@media screen and (max-width: ($break_sm - 1px)) {
		@content;
	}
}

@mixin sm_up {
	@media screen and (min-width: $break_sm), print {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: $break_sm) and (max-width: ($break_lg - 1px)) {
		@content;
	}
}

@mixin lg_down {
	@media screen and (max-width: ($break_lg - 1px)) {
		@content;
	}
}

@mixin lg {
	@media screen and (min-width: $break_lg) {
		@content;
	}
}

@mixin font_change {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


// ホバー時アンダーライン
@mixin text_hover_effect {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

// color
$color-main1: #2E3190;
$color-main2: #CBEBF6;
$color-main3: #67A9FF;
$color-main4: #F0F9FC;
$color-shadow1: rgba(0,0,0,0.16);
$accent: #9EFFA8;
$white: #ffffff;